################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/learning_directx/x64/Debug
/x64/Debug
/Past_Memories.wav
